
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

/*TÍTULOS*/
h1{


    font-family: "Lobster", sans-serif;
    font-size: 70px;
    color: #000000;
    text-align: center;
    
}


.separador {
    border-bottom: 5px solid #220061;
    margin: 20px 0;
  }

h2{
    font-family: "Lobster", sans-serif;
    font-size:50px;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}

h3{
  font-family: "Lobster", sans-serif;
  font-size:50px;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;

}

.interação {
  background-color: #21042c; /* Cor de fundo roxa escuro */
  padding: 40px;
  text-align: center;
}

.interação h1 {
  font-size: 40px;
  color: #ffffff; /* Cor do título roxa mais claro */
}

.interação p {
  font-size: 20px;
  color: #fffcfc; /* Cor do texto cinza-escuro */
}

.btn-continue {
  background-color: #9c2edb; /* Cor do botão roxa mais claro */
  color: #FFFFFF; /* Cor do texto branco */
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
}

.btn-continue:hover {
  background-color: #000000; /* Cor do botão roxa mais escuro */
}

body {
  background-image: url('fundo.avif');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}


/*experimento 1*/

.textinho{ 
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
  }

  .imagem-destaque {
    height: 500px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute; /* Faz com que a imagem seja absoluta */
    top: 70%; /* Alinha a imagem no centro verticalmente */
    left: 50%; /* Alinha a imagem no centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição da imagem */
  }


  .flex-container{
   
      text-align: center;
      display: block;
      margin: 0 auto;
      width: fit-content;
  }